<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>websec.io - {{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Brawler" rel="stylesheet" type="text/css" />
        <link href="/assets/css/site.css" rel="stylesheet" type="text/css" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://websec.io/feed" />
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                <ul class="nav">
                <li class="active"><a href="/" class="site-title">websec.io</a></li>
                <li class="topnav"><a href="/about.php">About</a></li>
                <li class="topnav"><a href="/resources.php">Resources</a></li>
                <li class="topnav"><a href="/feed">Feed</a></li>
                </ul>
                </div>
            </div>
        </div>

        <div class="container">
        {{ content }}

        {% if showComments %}
        <br />
        <div id="disqus_thread"></div>
        <script type="text/javascript" src="/assets/js/disquis.js"></script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <br />
        {% endif %}

        <footer>
                websec.io &copy; {{ copyright_year }}
        </footer>
        </div>
        <!-- for tracking purposes, until server info is functional again -->
        <img src="http://talkingpixels.org/t.gif"/>
        <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-246789-9']); _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </body>
</html>
