# turn off indexes
Options Includes FollowSymLinks MultiViews

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^feed$ feed.xml [L]
    RewriteRule ^tagged tagged.php [L]

    RewriteRule Preventing\-XEE '/2012/08/27/Preventing-XXE-in-PHP.html' [L]
    RewriteRule Public\-Private\-Key '/2013/02/14/API-Authentication-Public-Private-Hashes.html' [L]
    ErrorDocument 404 /notfound.html
</IfModule>
