<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^feed$ feed.xml [L]
    RewriteRule Preventing\-XEE '/2012/08/27/Preventing-XXE-in-PHP.html' [L]
    ErrorDocument 404 /notfound.html
</IfModule>
