<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^/feed$ feed.xml [L]
    ErrorDocument 404 /notfound.html
</IfModule>
